---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?client_id=[*REDACTED*]&q=brand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4993'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":2901172,"name":"brand"},{"media_count":2486208,"name":"brandname"},{"media_count":1301972,"name":"branded"},{"media_count":1154392,"name":"brandnew"},{"media_count":881699,"name":"branding"},{"media_count":756804,"name":"brandedbag"},{"media_count":661905,"name":"brands"},{"media_count":540605,"name":"brandon"},{"media_count":480676,"name":"brandy"},{"media_count":376341,"name":"brandnamebag"},{"media_count":369060,"name":"brandedbags"},{"media_count":361881,"name":"brandymelville"},{"media_count":329710,"name[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/brand/media/recent.json?client_id=[*REDACTED*]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4992'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1424831891056947","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1424831891056947","next_min_id":"1424832288816434","min_tag_id":"1424832288816434","next_url":"https:\/\/api.instagram.com\/v1\/tags\/brand\/media\/recent?client_id=[*REDACTED*]\u0026max_tag_id=1424831891056947"},"meta":{"code":200},"data":[{"attribution":null,"tags":["shop","cute","fashion","shopping","topshop","minibag","brand","pantip","handbag","bagshop","lyn","promote","\u0e15\u0e32\u0e21\u0e2b\u0e32","\u0e2a\u0e27\u0e22","bags","shoppingonline","bagthailandg","review","fashionbag","sale","bag","\u0e2d\u0e22\u0e32\u0e01\u0e02\u0e32\u0e22","thaishop","\u0e25\u0e14\u0e41\u0e2b\u0e25\u0e01","\u0e2b\u0e32\u0e08\u0e19\u0e40\u0e08\u0e2d","\u0e02\u0e32\u0e22","kloset"],"location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1424832288","link":"https:\/\/instagram.com\/p\/zggJ_QOj7Q\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s306x306\/e15\/10990602_418851754906464_45286156_n.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/10990602_418851754906464_45286156_n.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/e15\/10990602_418851754906464_45286156_n.jpg","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.9861111,"x":0.9444444},"user":{"username":"promotegoods.byme","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10950582_699527666832179_1170632460_a.jpg","id":"1538174122","full_name":"\ud83d\udc7cpromote
        free | 7k \ud83d\udc51"}},{"position":{"y":0.8111111,"x":0.89537036},"user":{"username":"promoteshopbyploy","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/10525520_659138987518719_329954190_a.jpg","id":"1340730756","full_name":"PROMOTE
        EVERYTHING.\u0295\u2022\u1d25\u2022\u0294"}},{"position":{"y":0.97037035,"x":0.8787037},"user":{"username":"promotewholeshopp","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.ne[...]
