---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?client_id=[*REDACTED*]&count=1&q=Brand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4996'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"username":"brand","bio":"","website":"","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/anonymousUser.jpg","full_name":"Cris
        Brand","id":"233024"}]}'
  recorded_at: Wed, 25 Feb 2015 02:23:41 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/Brand/media/recent.json?client_id=[*REDACTED*]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1424830668562623","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1424830668562623","next_min_id":"1424831013678740","min_tag_id":"1424831013678740","next_url":"https:\/\/api.instagram.com\/v1\/tags\/brand\/media\/recent?client_id=[*REDACTED*]\u0026max_tag_id=1424830668562623"},"meta":{"code":200},"data":[{"attribution":null,"tags":["mathmatikclothing","brand","twitter","mmc","follow"],"location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1424831013","link":"https:\/\/instagram.com\/p\/zgduV2R5DO\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s306x306\/e15\/10979630_743854952376474_853445649_n.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e15\/10979630_743854952376474_853445649_n.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e15\/10979630_743854952376474_853445649_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1424831013","text":"#MMC
        #MathMatikClothing ... #Follow the #Brand on #Twitter @MathMatikClothin","from":{"username":"mathmatikclothing","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_54099579_75sq_1388463639.jpg","id":"54099579","full_name":"Its
        #MMC for short!"},"id":"927872251452690606"},"type":"image","id":"927872251142312142_54099579","user":{"username":"mathmatikclothing","website":"","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_54099579_75sq_1388463639.jpg","full_name":"Its
        #MMC for short!","bio":"","id":"54099579"}},{"attribution":null,"tags":["\u0448\u043e\u043f\u043f\u0438\u043d\u0433\u0432\u0441\u0448\u0430","\u043f\u043e\u043a\u0443\u043f\u043a\u0438","\u043c\u043e\u0434\u0430","\u043f\u043e\u0441\u044b\u043b\u043a\u0438","\u043b\u044e\u043a\u0441","authentic","\u0441\u0442\u0438\u043b\u044c","\u0448\u0438\u043a","\u0437\u0430\u043a\u0430\u0437\u0430\u0442\u044c","\u043f\u043e\u0441\u0440\u0435\u0434\u043d\u0438\u043a","luxe","style","shopping","\u043a\u0443\u043f\u0438\u0442\u044c","instashopping","sale","original","\u0448\u043e\u043f\u043f\u0438\u043d\u0433","luxury","\u0431\u0440\u0435\u043d\u0434","brandnew","brand","\u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b"],"location":{"latitude":40.710025,"longitude":-74.010588883},"comments":{"count":0,"data":[]},"filter":"Rise","created_time":"1424831005","link":"https:\/\/instagram.com\/p\/zgdtZjBKfT\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s306x306\/e15\/11017563_1611152175782811_386018614_n.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/11017563_1611152175782811_386018614_n.jpg","[...]
