---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?client_id=[*REDACTED*]&q=brand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4982'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":2901172,"name":"brand"},{"media_count":2486208,"name":"brandname"},{"media_count":1301972,"name":"branded"},{"media_count":1154392,"name":"brandnew"},{"media_count":881536,"name":"branding"},{"media_count":755628,"name":"brandedbag"},{"media_count":661905,"name":"brands"},{"media_count":540605,"name":"brandon"},{"media_count":480676,"name":"brandy"},{"media_count":376341,"name":"brandnamebag"},{"media_count":369060,"name":"brandedbags"},{"media_count":361881,"name":"brandymelville"},{"media_count":329710,"name[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/brand/media/recent.json?client_id=[*REDACTED*]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4981'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1424821731468240","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1424821731468240","next_min_id":"1424822081148201","min_tag_id":"1424822081148201","next_url":"https:\/\/api.instagram.com\/v1\/tags\/brand\/media\/recent?client_id=[*REDACTED*]\u0026max_tag_id=1424821731468240"},"meta":{"code":200},"data":[{"attribution":null,"tags":["hip","urban","love","colorado","defjam","brand","billions","hiphop","germany","bellavinobillionaires","rap","billionaires","believe","clothing","fly","swag","selfmade","paris","work","fresh","passion","rich","apparel","music","hope"],"location":null,"comments":{"count":0,"data":[]},"filter":"Ludwig","created_time":"1424822080","link":"https:\/\/instagram.com\/p\/zgMr7SNhnb\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"http:\/\/scontent-b.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s306x306\/e15\/11005234_725151340932050_457278955_n.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-b.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/11005234_725151340932050_457278955_n.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent-b.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/e15\/11005234_725151340932050_457278955_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1424822080","text":"The
        homies from Denver Rocking the Brand \"BellaVino Billionaires\" sweat shirts!!!!!!
        #Defjam#BellavinoBillionaires#Brand#Apparel#Clothing#Urban#Billionaires#Billions#Selfmade#Rich#Believe#Hope#Passion#Colorado#Paris#Germany#Love#Work#Music#Rap#fly#Swag#Fresh#Hip#Hiphop","from":{"username":"b2d44","profile_picture":"https:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/l\/t51.2885-19\/11007897_791943940889500_1880156741_a.jpg","id":"272013461","full_name":"Allen
        Sims"},"id":"927797318675470424"},"type":"image","id":"927797318390258139_272013461","user":{"username":"b2d44","website":"","profile_picture":"https:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/l\/t51.2885-19\/11007897_791943940889500_1880156741_a.jpg","full_name":"Allen
        Sims","bio":"","id":"272013461"}},{"attribution":null,"tags":["therahsaanlangleyproject","fashion","art","nogenre","hats","shirts","follow","beards","livemusic","lifestyle","artist","hashtagcraycray","music","marketing","fittedhats","brand","shows"],"location":null,"comments":{"count":0,"data":[]},"filter":"Lo-fi","created_time":"1424822028","link":"https:\/\/instagram.com\/p\/zgMllOyMIv\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/t[...]
