---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/brand/media/recent.json?client_id=[*REDACTED*]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4983'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1424819652526172","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1424819652526172","next_min_id":"1424820061274947","min_tag_id":"1424820061274947","next_url":"https:\/\/api.instagram.com\/v1\/tags\/brand\/media\/recent?client_id=[*REDACTED*]\u0026max_tag_id=1424819652526172"},"meta":{"code":200},"data":[{"attribution":null,"tags":["shop","cute","supreme","fashion","love","shoes","huf","newyork","plndr","dope","likeforfollow","jordans","theundreds","airjordan","california","kermalop","ootd","diamondlife","follow","sneakerhead","obey","swag","style","stussy","instagood","likeforlike","f4f","fresh","streetwear","brand"],"location":{"latitude":42.162313093,"longitude":12.600866575},"comments":{"count":1,"data":[{"created_time":"1424820061","text":"#kermalop
        #fashion #plndr #dope #love #supreme #newyork #style #cute #jordans #shop
        #swag #sneakerhead #follow #huf #diamondlife #brand #shoes #airjordan #f4f
        #streetwear #instagood #ootd #california #obey #theundreds #likeforfollow
        #likeforlike #fresh #stussy","from":{"username":"bibby75","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10899098_1542217816064661_633539009_a.jpg","id":"234850836","full_name":"bibby75"},"id":"927780375488173360"}]},"filter":"Ludwig","created_time":"1424820016","link":"https:\/\/instagram.com\/p\/zgIv6pjRbE\/","likes":{"count":7,"data":[{"username":"denleyjade","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10623736_366623006818623_2103240366_a.jpg","id":"194531952","full_name":"denleyjade"},{"username":"moe_paige","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/924025_332427913629861_2089103323_a.jpg","id":"643114833","full_name":"\ud83d\udc95
        Moe \ud83d\udc95"},{"username":"veritasapparel","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_187781062_75sq_1386361606.jpg","id":"187781062","full_name":"Veritas
        Apparel"},{"username":"jcarter_1","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10919765_698391910276902_1621415434_a.jpg","id":"204586399","full_name":"jcarter_1"}]},"images":{"low_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s306x306\/e15\/10963910_1631078343782637_735411852_n.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e15\/10963910_1631078343782637_735411852_n.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e15\/10963910_1631078343782637_735411852_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1424820016","text":"Happines
        is only Real when shared\u2757\ufe0f","from":{"username":"bibby75","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10899098_1542217816064661_633539009_a.jpg","id":"234850836","full_name":"bibby75"},"id":"927780000727110932"},"type":"image","id":"927780000399955652_234850836","user":{"username":"bibby75","website":"","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10899098_1542217816064661_633539009_a.jpg","full_name":"bibby75","bio":"","id":"234850836"}},{"attribution":null,"tags":["streetstyle","lifestyle","vazzi","trend","streetfashion","global","paperchaser","eastafrica","dreamers","world","kenya","streetwear","brand","254"],"location":null,"comments":{"count":1,"data":[{"created_time":"1424820042","text":"Want
        free followers @vazziclothing? Just check my bio.  Hurry, hurry, hurry! #instaframe
        #face #inspiration #instapic #squaready #animals #sunglasses #friday #friendship
        #for #school","from":{"u[...]
