<div class="row center">
	<div class="col-md-3">
		<h2><%= link_to size.brand_name, size.brand_url %></h4>
	</div>
	<div class="col-md-3">
		<h2><%= size.name %></h2>
	</div>
	<div class="col-md-3">
		<h5>Height</h5>
		<%= size.height_range %>
	</div>
	<div class="col-md-3">
		<h5>Weight</h5>
		<%= size.weight_range %>
	</div>
</div>