<div class="row">
	<div class="col-md-8 col-offset-md-2">
		<h2>About</h2>

		<p>
			Gi Finder is an app for every jiujitiero who ever asked themselves, "What size should I buy?" 
		</p>

		<p>
			Simply input your height and weight and receive a list of sizes and brands that Gi Finder predicts will fit you.
		</p>
	</div>
</div>