<div class="center jumbotron">
	<h1>Gi Finder</h1>
	<div class="row">
		<div class="col-md-6">
			<h2>
				<span id="weight"></span>
				lbs
			</h2>
			<div id="weight_slider" class="form-control" data-toggle="tooltip"></div>
		</div>
		<div class="col-md-6">
			<h2>
				<span id="feet">
				</span>
				'
				<span id="inches">
				</span>
				"
			</h2>
			<div id="height_slider" class="form-control"></div>
		</div>
	</div>
</div>
